.card{
    cursor: pointer;
    display: inline-flex;
    flex-wrap: nowrap;
    width: 15rem;
    height: 21rem;
    margin: 5px;
    padding-top: 5px;
    border: black solid;
}
img{
    padding-left: 4rem;
    height: 8rem;
    width: 9rem;
}

.fa-database{
    font-size: 10rem;
}
.pagination{
    padding-left: 25px;
    border: none;
}
.pagination >li.active>.page-link{
    background-color:black !important;
}
.page-item{
    padding-left: 25px;
  
}
.page-link{
    background-color: white;
    color: black;
}